.adminAdd {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8%;
	background:rgba(255,255,255,0.4);
}

.listTitle {
	padding-top: 3%;
	color: #333333;
	text-align: center;
}

.movieItem {
	width: 70%;
	margin-top: 3%;
	margin-bottom: 2%;
}

.movieImg {
	width: 100%;
}

.moviePage{
	margin-top: 5%;
	margin-bottom: 5%;
	width: 25%;
	margin-right: auto;
	margin-left: auto;
}

hr {
	width: 78%;
}

.modifyButton {
	float: right;
}