.modifyMovie {
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8%;
	margin-bottom: 5%;
	padding-bottom: 2%;
	background:rgba(255,255,255,0.3);
}

.posterImg {
	margin-top: 5%;
	width: 25%;
}
.poster{
	text-align: center;
}
.movieSetting {
	text-align: center;
}
.item {
	margin-left: 8%;
}
.saveButton {
	text-align: center;
}
